*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{ 
    background-color: #f6f3f3;
    color: #100f0f;
}
.card{
    display: flex;
    margin: 0px 0px;
}
.card .card-img{
    align-items: center;
}
.card .card-img img{
    border: 2px solid #101010;
    margin: 0px 5px;

}
.card .card{
    transition: transform 420ms;
}
.card .card-img img:hover{
    transform: scale(0.5ms);
}
.card .card-img img{
    display: flex;
}
